body{
 font: 20px Verdana;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(123.jpg);
	height: 100vh;
	background-size: cover;
background-position: center;
}

.logo img{
	float: left;
	width: 180px;
	height: auto;
}


h1{
 font: 20px Verdana;
 color: red;
}

.Input{
 font: 20px Verdana;
 border: 1px solid orange;
 width: 300px;
}

.Submit{
 font: 20px Verdana;
 border: 1px solid orange;
 width: 300px;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid transparent;
	transition: 1.2s ease;
}

ul li a:hover{
	background-color: #CDD;
	color: #101;
}

ul li.active a{
	background-color: #CDD;
	color: #101;


