.form-div { margin-top: 100px; border: 1px solid #e0e0e0; }
#profileDisplay { display: block; height: 210px; width: 60%; margin: 0px auto; border-radius: 50%; }
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(3.jpg);
  height: 100vh;
  background-size: cover;
background-position: center;
  background-color: transparent !important;
    color: #fff !important;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: auto;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  border: auto solid transparent;
  transition: 1.2s ease;
}

ul li a:hover{
  background-color: #CDD;
  color: #101;
}

ul li.active a{
  background-color: #CDD;
  color: #101;
}
